<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" 
data-sly-call="${clientlib.all @ categories='properityPathIntro'}" />

<section id="${properties.sectionName}">
    <div data-sly-test="${properties.path2prosperdescription}" class="path2prosper-container">
        <div class="path2prosper-con">         
            <div class="path2prosper-path desktop-image">
                ${properties.path2Title @context='html'}
            </div>
            <div class="path2prosper-path mobile-image">
                <img src="${properties.mobileImage}" alt="Mobile Image" />
            </div>

            <div class="p2p-font-18 path2prosper-description">
                ${properties.path2prosperdescription @context='html'}
            </div>
        </div>
    </div>
</section>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.description}"></sly>